// Font Stacks

$font-url--google       : 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

$font-family--primary   : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Descriptive Base Colors

$white           : #fff;
$black           : #0b0b0b;
$gray            : #797e83;
$fountain-blue   : #52bab3;
$emerald         : #5ece7f;
$sunglo          : #e67478;
$coral           : #ff784f;
$purple-majesty  : #9279c3;
$scooter         : #39add1;
$turqoise-blue   : #61EDA5;
$cornflower-blue : #6195ED;
$light-blue      : #61DAED;
$heliotrope      : #DC61ED;
$mandy           : #ED6174;
$burnt-sienna    : #ED8061;

// Color Usage

$color-primary   : $fountain-blue;
$color-secondary : $scooter;
$color-accent    : $emerald;
$color-shadow    : rgba($black, .2);

// Color Pallette Modifiers

$palettes: (
  gray: (
    xx-light : lighten($gray, 43%),
    x-light  : lighten($gray, 35%),
    light    : lighten($gray, 12%),
    base     : $gray,
    dark     : darken($gray, 8%),
    x-dark   : darken($gray, 16%)
  ),
  black: (
    light    : lighten($black, 10%),
    base     : $black,
    dark     : darken($black, 10%)
  )

);

// UI colors

$ui-colors: (
  default : $fountain-blue,
  success : $emerald,
  error   : $sunglo,
  warning : $coral,
  info    : $purple-majesty
);

// Grid-colors

$grid-colors: (
  '1'     : $fountain-blue,
  '2'     : $emerald,
  '3'     : $heliotrope,
  '4'     : $light-blue,
  '5'     : $fountain-blue,
  '6'     : $cornflower-blue,
  '7'     : $mandy,
  '8'     : $burnt-sienna,
  '9'     : $sunglo,
  '10'    : $coral,
  '11'    : $purple-majesty,
  '12'    : $turqoise-blue
);

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Path to Image Assets

$path--rel       : "../img";

//Border border

$br--default     : .4em;
$br--round       : 50%;

// Transition

$trns-duration   : .5;

// Grid

$g-col-width     : 65px;
$g-gutter-width  : 20px;
$g-col-count     : 12;
$g-cont-max-w    : 1050px;

// Breakpoints

$brkpoint-sm     : 1px;
$brkpoint-md      : 768px;
$brkpoint-lg     : 1100px;
