.btn {
  @include bg-colors($ui-colors);
}

[class^="btn--"] {
  margin: em(15px) 0 em(20px) 0;
  padding: em(15px) em(50px);
  text-transform: uppercase;
  border-radius: $br--default;
  color: $white;
  text-align: center;

  @include mq(small) {
    width: 100%;
  }
  @include mq(medium) {
    flex-direction: row;
  }
}
