// Form

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include e(label){
    @include m(hidden) {
      @extend .srt;
    }
    display: block;
    margin-bottom: em(10px);
  }

  @include e(input) {
    width: 85%;
    font-size: em(18px);
    padding: em(18px, 18px);
    margin-bottom: em(20px, 18px);
    border-bottom: em(6px, 18px) solid $emerald;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: palette(black, dark);
    font-weight: $font-weight--light;
      &:focus {
        border-color: $color-primary;
      }
  }
  & .btn--default {
    @extend %btn;
    background: $color-primary;
    margin-top: em(30px, 18px);
    margin-right: auto;
    margin-left: auto;
  }
  @include mq(small) {
    & input {
      width: 90%;
      margin: 0 auto;
    }
  }
}

.form__label--hidden {
  display: none;
  @extend .srt;
}
