// container

.container {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
  width: 90%;
  margin: 0 auto;
}

// Calculate grid columns

.grid__col {

  @include mq(medium) {
    @include g-columns;
  }
}

// Column stylesheet
[class^="grid__col--"] {
  padding: em(5px);
  border-radius: $br--default;
  @include mq(small) {
    margin-top: em(12px);
    margin-bottom: em(12px);
    width: 100%;
  }
  @include mq(medium) {
    @include doubly(percentage($g-gutter-width / $context));
    float: left;
    min-height: 1px;
    &:last-of-type {
      float: right;
    }
  }
}

// Grid container

.grid__row {
  @extend %clearfix;
  @extend .centered;
  @include flexy-row;
  align-items: center;
  margin-top: em(20px);
  margin-bottom: em(20px);
  padding-top: em(10px);
  padding-bottom: em(10px);

  // Set min-width

  @include mq(small) {
    @include flexy-column;
  }

  // Set a max-width

  @include mq(large) {
    max-width: $g-cont-max-w;
  }
}


// Row spacing for Buttons

.grid__row:nth-last-child(9) {

  @include mq(medium) {
    & .grid__col--12 {
      @include flexy-row;
      align-items: center;
    }
  }
}

// Colors for Grid system
.grid__row:nth-last-child(-n + 7) {
  text-align: center;
  color: $gray;
  padding: em(10px);
  border-radius: $br--default;
  @include mq(small) {
    text-align: left;
  }
  .grid__col {
    @include grid-colors($grid-colors);
  }
}
