.img--logo {

  @include mq(small) {
    @include img-center;
  }
}

.img--avatar {
  @include img-center;
  @include mq(medium) {
    border-radius: $br--round;
  }
}

.img--frame {
  margin: em(20px);
  padding: em(10px);
  border: 1px solid $gray;
  @include img-center;
  @include mq(small) {
    width: 90%;
  }
}
