// Headlines

.headline {
  &--primary {
    @extend %hdln-prim;
    margin-bottom: em(70px, 42px);
  }

  &--secondary {

    @extend %hdln-sec;
    margin-bottom: em(22px, 24px);
  }

}

.blockquote {
  font-size: em(24px);
  font-style: italic;
  font-weight: $font-weight--light;
  margin: em(32px, 24px) 0;
  padding: 0 0 0 5%;
  border-left: solid em(8px, 24px) $emerald;
}

p .link {
  @include page-links;
  color: $fountain-blue;
}
